<a href="https://colab.research.google.com/github/Thabby07/richter-predictor/blob/master/TFM_Exploraci%C3%B3n_del_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Urls para el dataset
# https://eq2015.npc.gov.np/#/download
# https://www.drivendata.org/competitions/57/nepal-earthquake/page/136/

# Problem description - Source: https://www.drivendata.org/competitions/57/nepal-earthquake/page/136/

We're trying to predict the ordinal variable damage_grade, which represents a level of damage to the building that was hit by the earthquake. There are 3 grades of the damage:

•	1 represents low damage

•	2 represents a medium amount of damage

•	3 represents almost complete destruction

# Features
The dataset mainly consists of information on the buildings' structure and their legal ownership. Each row in the dataset represents a specific building in the region that was hit by Gorkha earthquake.

There are 39 columns in this dataset, where the building_id column is a unique and random identifier. The remaining 38 features are described in the section below. Categorical variables have been obfuscated random lowercase ascii characters. The appearance of the same character in distinct columns does not imply the same original value.

## Description

•	geo_level_1_id, geo_level_2_id, geo_level_3_id (type: int): geographic region in which building exists, from largest (level 1) to most specific sub-region (level 3). Possible values: level 1: 0-30, level 2: 0-1427, level 3: 0-12567.

•	count_floors_pre_eq (type: int): number of floors in the building before the earthquake.

•	age (type: int): age of the building in years.

•	area_percentage (type: int): normalized area of the building footprint.

•	height_percentage (type: int): normalized height of the building footprint.

•	land_surface_condition (type: categorical): surface condition of the land where the building was built. Possible values: n, o, t.

•	foundation_type (type: categorical): type of foundation used while building. Possible values: h, i, r, u, w.

•	roof_type (type: categorical): type of roof used while building. Possible values: n, q, x.

•	ground_floor_type (type: categorical): type of the ground floor. Possible values: f, m, v, x, z.

•	other_floor_type (type: categorical): type of constructions used in higher than the ground floors (except of roof). Possible values: j, q, s, x.

•	position (type: categorical): position of the building. Possible values: j, o, s, t.

•	plan_configuration (type: categorical): building plan configuration. Possible values: a, c, d, f, m, n, o, q, s, u.

•	has_superstructure_adobe_mud (type: binary): flag variable that indicates if the superstructure was made of Adobe/Mud.

•	has_superstructure_mud_mortar_stone (type: binary): flag variable that indicates if the superstructure was made of Mud Mortar - Stone.

•	has_superstructure_stone_flag (type: binary): flag variable that indicates if the superstructure was made of Stone.

•	has_superstructure_cement_mortar_stone (type: binary): flag variable that indicates if the superstructure was made of Cement Mortar - Stone.

•	has_superstructure_mud_mortar_brick (type: binary): flag variable that indicates if the superstructure was made of Mud Mortar - Brick.

•	has_superstructure_cement_mortar_brick (type: binary): flag variable that indicates if the superstructure was made of Cement Mortar - Brick.

•	has_superstructure_timber (type: binary): flag variable that indicates if the superstructure was made of Timber.

•	has_superstructure_bamboo (type: binary): flag variable that indicates if the superstructure was made of Bamboo.

•	has_superstructure_rc_non_engineered (type: binary): flag variable that indicates if the superstructure was made of non-engineered reinforced concrete.

•	has_superstructure_rc_engineered (type: binary): flag variable that indicates if the superstructure was made of engineered reinforced concrete.

•	has_superstructure_other (type: binary): flag variable that indicates if the superstructure was made of any other material.

•	legal_ownership_status (type: categorical): legal ownership status of the land where building was built. Possible values: a, r, v, w.

•	count_families (type: int): number of families that live in the building.

•	has_secondary_use (type: binary): flag variable that indicates if the building was used for any secondary purpose.

•	has_secondary_use_agriculture (type: binary): flag variable that indicates if the building was used for agricultural purposes.

•	has_secondary_use_hotel (type: binary): flag variable that indicates if the building was used as a hotel.

•	has_secondary_use_rental (type: binary): flag variable that indicates if the building was used for rental purposes.

•	has_secondary_use_institution (type: binary): flag variable that indicates if the building was used as a location of any institution.

•	has_secondary_use_school (type: binary): flag variable that indicates if the building was used as a school.

•	has_secondary_use_industry (type: binary): flag variable that indicates if the building was used for industrial purposes.

•	has_secondary_use_health_post (type: binary): flag variable that indicates if the building was used as a health post.

•	has_secondary_use_gov_office (type: binary): flag variable that indicates if the building was used fas a government office.

•	has_secondary_use_use_police (type: binary): flag variable that indicates if the building was used as a police station.

•	has_secondary_use_other (type: binary): flag variable that indicates if the building was secondarily used for other purposes.

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score

In [0]:
train_values = pd.read_csv('/content/train_values.csv')
train_labels = pd.read_csv('/content/train_labels.csv')

In [49]:
train_values.head()

   building_id  ...  has_secondary_use_other
0       802906  ...                        0
1        28830  ...                        0
2        94947  ...                        0
3       590882  ...                        0
4       201944  ...                        0

[5 rows x 39 columns]

In [36]:
train_values.describe()

       geo_level_1_id  ...  has_secondary_use_other
count   260601.000000  ...            260601.000000
mean        13.900353  ...                 0.005119
std          8.033617  ...                 0.071364
min          0.000000  ...                 0.000000
25%          7.000000  ...                 0.000000
50%         12.000000  ...                 0.000000
75%         21.000000  ...                 0.000000
max         30.000000  ...                 1.000000

[8 rows x 30 columns]

In [55]:
train_values.shape # (34960, 38)
train_labels.shape # (260601, 1)

(260601, 39)

In [0]:
# TODO How many ids match
train = train_values.set_index('building_id').join(train_labels.set_index('building_id'), how='left')

In [53]:
# TODO Change string categorical to numeric categorical
train = train.select_dtypes(exclude=['object'])
train.head()

             geo_level_1_id  ...  damage_grade
building_id                  ...
802906                    6  ...             3
28830                     8  ...             2
94947                    21  ...             3
590882                   22  ...             2
201944                   11  ...             3

[5 rows x 31 columns]

In [54]:
# TODO Drop all variables that are NANs
train = train.dropna()
train.describe()

       geo_level_1_id  geo_level_2_id  ...  has_secondary_use_other   damage_grade
count   260601.000000   260601.000000  ...            260601.000000  260601.000000
mean        13.900353      701.074685  ...                 0.005119       2.238272
std          8.033617      412.710734  ...                 0.071364       0.611814
min          0.000000        0.000000  ...                 0.000000       1.000000
25%          7.000000      350.000000  ...                 0.000000       2.000000
50%         12.000000      702.000000  ...                 0.000000       2.000000
75%         21.000000     1050.000000  ...                 0.000000       3.000000
max         30.000000     1427.000000  ...                 1.000000       3.000000

[8 rows x 31 columns]

In [56]:
train.shape

(260601, 31)

In [0]:
#X = train.iloc[:, 0:38].values
#y = train.iloc[:, 38].values
X = train.iloc[:, 0:30].values
y = train.iloc[:, 30].values

In [0]:
# Partition train-test & scaler
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

#sc = StandardScaler()
#X_train = sc.fit_transform(X_train)
#X_test = sc.transform(X_test)

In [73]:
X.shape

(260601, 30)

In [74]:
y.shape

(260601,)

In [75]:
X_train.shape

(182420, 30)

In [76]:
X_test.shape

(78181, 30)

In [77]:
y_train.shape

(182420,)

In [78]:
y_test.shape

(78181,)

In [0]:
classifier = RandomForestClassifier(n_estimators=20, random_state=0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [80]:
y_pred.shape

(78181,)

In [81]:
f1_micro_score = f1_score(X_test, y_pred, average='micro')
print(f1_micro_score)

ValueError: ignored