<a href="https://colab.research.google.com/github/Thabby07/richter-predictor/blob/master/TFM_Entrenamiento_Modelo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
pip install mord
pip install sklearn-contrib-py-earth
pip install keras
pip install tensorflow==2.0.0-beta

Collecting sklearn-contrib-py-earth
  Downloading https://files.pythonhosted.org/packages/f8/c4/53a24835bafac880036446cc13839471a025b41de1436543f30d15d846c1/sklearn-contrib-py-earth-0.1.0.tar.gz (1.0MB)
     |████████████████████████████████| 1.0MB 2.6MB/s
Requirement already satisfied: scipy>=0.16 in /usr/local/lib/python3.6/dist-packages (from sklearn-contrib-py-earth) (1.4.1)
Requirement already satisfied: scikit-learn>=0.16 in /usr/local/lib/python3.6/dist-packages (from sklearn-contrib-py-earth) (0.22.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from sklearn-contrib-py-earth) (1.12.0)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy>=0.16->sklearn-contrib-py-earth) (1.17.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.16->sklearn-contrib-py-earth) (0.14.1)
Building wheels for collected packages: sklearn-contrib-py-earth
  Building wheel for sklearn-contrib-py-earth (setup.py) ... done
  Created wheel for sklearn-contrib-py-earth: filename=sklearn_contrib_py_earth-0.1.0-cp36-cp36m-linux_x86_64.whl size=3894254 sha256=c2ddaacf06f2911d1271bd08f6676ca6495e2316e68c9bc780b3bcbb2bbfc052
  Stored in directory: /root/.cache/pip/wheels/b7/8b/9c/4741513102ce3bd0f0227353dacdfbe9a5b0e47c261e45510b
Successfully built sklearn-contrib-py-earth
Installing collected packages: sklearn-contrib-py-earth
Successfully installed sklearn-contrib-py-earth-0.1.0

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from datetime import datetime
#from mord import LogisticAT
#from pyearth import Earth
from sklearn.model_selection import cross_val_score

In [0]:
train_values = pd.read_csv('/content/train_values.csv')
train_labels = pd.read_csv('/content/train_labels.csv')
test_values = pd.read_csv('/content/test_values.csv')

In [0]:
train = train_values.set_index('building_id').join(train_labels.set_index('building_id'), how='left')

In [5]:
train['damage_grade'].value_counts().sort_index(ascending=True)

1     25124
2    148259
3     87218
Name: damage_grade, dtype: int64

Por tanto, del dataset completo, el **grado 1** significa un **9.64%** del total, el **grado 2** un **56.89%** y el **grado 3** un **33.47%**.

In [6]:
# Now we exclude string categorical variables
#train = train.select_dtypes(exclude=['object'])
#test = test_values.select_dtypes(exclude=['object'])

# Or we can change string categorical to numeric categorical as dummies
train = pd.get_dummies(train)
test = pd.get_dummies(test_values)

train.head()

             geo_level_1_id  ...  legal_ownership_status_w
building_id                  ...
802906                    6  ...                         0
28830                     8  ...                         0
94947                    21  ...                         0
590882                   22  ...                         0
201944                   11  ...                         0

[5 rows x 69 columns]

In [7]:
test = test.set_index('building_id')
test.head()

             geo_level_1_id  ...  legal_ownership_status_w
building_id                  ...
300051                   17  ...                         0
99355                     6  ...                         0
890251                   22  ...                         0
745817                   26  ...                         0
421793                   17  ...                         0

[5 rows x 68 columns]

## Random Forest - sólo variables numéricas

In [0]:
damage_1 = train[train['damage_grade'] == 1].sample(n=25000)
damage_2 = train[train['damage_grade'] == 2].sample(n=25000)
damage_3 = train[train['damage_grade'] == 3].sample(n=25000)

In [0]:
train_sample = pd.concat([damage_1, damage_2, damage_3]).reset_index()
train_sample.head()

   building_id  geo_level_1_id  ...  has_secondary_use_other  damage_grade
0       689827              13  ...                        0             1
1       780104              20  ...                        0             1
2       618103               8  ...                        0             1
3       333694              26  ...                        0             1
4       947549               5  ...                        0             1

[5 rows x 32 columns]

In [0]:
train.iloc[:, :-1] # all rows except target variable

             geo_level_1_id  ...  legal_ownership_status_v
building_id                  ...
802906                    6  ...                         1
28830                     8  ...                         1
94947                    21  ...                         1
590882                   22  ...                         1
201944                   11  ...                         1
...                     ...  ...                       ...
688636                   25  ...                         1
669485                   17  ...                         1
602512                   17  ...                         1
151409                   26  ...                         1
747594                   21  ...                         1

[260601 rows x 68 columns]

In [0]:
test.columns.size

31

In [0]:
train = train_sample

In [0]:
#X = train.iloc[:, 0:38].values
#y = train.iloc[:, 38].values
X = train.iloc[:, 0:30].values
y = train.iloc[:, 30].values

In [0]:
# Partition train-test & scaler
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

#sc = StandardScaler()
#X_train = sc.fit_transform(X_train)
#X_test = sc.transform(X_test)

In [0]:
RF_classifier = RandomForestClassifier(n_estimators=20, random_state=0)
RF_classifier.fit(train.iloc[:, :-1], train['damage_grade'])
RF_pred = RF_classifier.predict(test)

In [0]:
f1_micro_score = f1_score(y_test, RF_pred, average='macro')
print(f1_micro_score)

In [0]:
test.reset_index(level=0, inplace=True)

In [0]:
output = pd.DataFrame({'building_id': test['building_id'], 
                       'damage_grade': RF_pred})

timestamp = str(np.rint(datetime.timestamp(datetime.now())).astype(int))

path = "/content/" + timestamp + "_RF_competition_result.csv"
output.to_csv(path_or_buf=path, index=False)

## Ordinal predictor regressor (Logistic AT) - all variables + dummies

MORD: http://rikunert.com/ordinal_rating

In [0]:
LAT_classifier = LogisticAT(alpha=0) # alpha parameter set to zero to perform no regularisation

In [0]:
#cross_val_score(LAT_classifier, train.iloc[:, :-1], train['damage_grade'], cv=2, scoring='recall_micro')
#array([0.99998336, 0.99971965])

array([0.99998336, 0.99971965])

In [0]:
LAT_classifier.fit(train.iloc[:, :-1], train['damage_grade'])

In [0]:
LAT_pred = LAT_classifier.predict(test)

In [0]:
test.reset_index(level=0, inplace=True)

In [0]:
output = pd.DataFrame({'building_id': test['building_id'], 
                       'damage_grade': LAT_pred})

timestamp = str(np.rint(datetime.timestamp(datetime.now())).astype(int))

path = "/content/" + timestamp + "_LAT_competition_result.csv"
output.to_csv(path_or_buf=path, index=False)

## Mars - All variables + dummies

In [0]:
MARS_classifier = Earth()

In [0]:
MARS_classifier.fit(train.iloc[:, :-1], train['damage_grade'])

/usr/local/lib/python3.6/dist-packages/pyearth/earth.py:802: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  pruning_passer.run()
/usr/local/lib/python3.6/dist-packages/pyearth/earth.py:1055: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  coef, resid = np.linalg.lstsq(B, weighted_y[:, i])[0:2]

Earth(allow_linear=None, allow_missing=False, check_every=None,
      enable_pruning=True, endspan=None, endspan_alpha=None, fast_K=None,
      fast_h=None, feature_importance_type=None, max_degree=None,
      max_terms=None, min_search_points=None, minspan=None, minspan_alpha=None,
      penalty=None, smooth=None, thresh=None, use_fast=None, verbose=0,
      zero_tol=None)

In [0]:
print(MARS_classifier.trace())

Forward Pass
---------------------------------------------------------------
iter  parent  var  knot  mse       terms  gcv    rsq    grsq
---------------------------------------------------------------
0     -       -    -     0.374314  1      0.374  0.000  0.000
1     0       30   -1    0.000000  2      0.000  1.000  1.000
---------------------------------------------------------------
Stopping Condition 1: Achieved RSQ value within threshold of 1

Pruning Pass
----------------------------------------------
iter  bf  terms  mse   gcv    rsq     grsq
----------------------------------------------
0     -   2      0.00  0.000  1.000   1.000
1     1   1      0.37  0.374  -0.000  -0.000
----------------------------------------------
Selected iteration: 0

In [0]:
print(MARS_classifier.summary())

Earth Model
-------------------------------------
Basis Function  Pruned  Coefficient
-------------------------------------
(Intercept)     No      8.89788e-16
damage_grade    No      1
-------------------------------------
MSE: 0.0000, GCV: 0.0000, RSQ: 1.0000, GRSQ: 1.0000

In [0]:
MARS_pred = MARS_classifier.predict(test)

In [0]:
test.reset_index(level=0, inplace=True)

In [0]:
output = pd.DataFrame({'building_id': test['building_id'], 
                       'damage_grade': MARS_pred})

timestamp = str(np.rint(datetime.timestamp(datetime.now())).astype(int))

path = "/content/" + timestamp + "_MARS_competition_result.csv"
output.to_csv(path_or_buf=path, index=False)

## GAM - Generalized Additive Models
https://codeburst.io/pygam-getting-started-with-generalized-additive-models-in-python-457df5b4705f

## Redes neuronales - híbridas?

In [0]:
# BORRAMOS EL REGISTRO CON BUILDING ID  811. AVERIGUAR POR QUE NO MAPEA
X = train.drop(['damage_grade'], axis=1).dropna()
y = train[['damage_grade']].dropna()

In [59]:
from sklearn.metrics import f1_score, precision_recall_fscore_support

y_true = [1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 4]
y_pred = [1, 1, 1, 0, 0, 2, 2, 3, 3, 3, 4, 3, 4, 3]

p_macro, r_macro, f_macro, support_macro \
    = precision_recall_fscore_support(y_true=y_true, y_pred=y_pred, labels=[1, 2, 3, 4], average='macro')

p_micro, r_micro, f_micro, support_micro\
    = precision_recall_fscore_support(y_true=y_true, y_pred=y_pred, labels=[1, 2, 3, 4], average='micro')

def f(p, r):
    return 2*p*r/(p+r)

my_f_macro = f(p_macro, r_macro)

my_f_micro = f(p_micro, r_micro)

print(my_f_macro)
print(my_f_micro)

0.6361290322580646
0.6153846153846153

In [9]:
import keras.backend as K
from sklearn.metrics import precision_recall_fscore_support

def f1_micro(y_true, y_pred):
    p_micro, r_micro, f_micro, support_micro = precision_recall_fscore_support(y_true=y_true, y_pred=y_pred, labels=[1, 2, 3], average='micro')
    return f(p_micro, r_micro)

Using TensorFlow backend.
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [10]:
# first neural network with keras tutorial
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense

# define the keras model
model = Sequential()
model.add(Dense(12, input_dim=68, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy', f1_micro])
# fit the keras model on the dataset
model.fit(X, y, epochs=150, batch_size=10)

RuntimeError: ignored

In [0]:
# evaluate the keras model
#_, accuracy = model.evaluate(X, y)
#print('Accuracy: %.2f' % (accuracy*100))