<a href="https://colab.research.google.com/github/Thabby07/richter-predictor/blob/master/TFM_Entrenamiento_Modelo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
pip install mord

Collecting mord
  Downloading https://files.pythonhosted.org/packages/67/9d/c791c841501d9ff4ecb76b57f208dec6cf9f925109c59c995ddec80f9b32/mord-0.6.tar.gz
Building wheels for collected packages: mord
  Building wheel for mord (setup.py) ... done
  Created wheel for mord: filename=mord-0.6-cp36-none-any.whl size=6007 sha256=37801bd8cb940d6c9df39299505225666a6481cb2c49f36efd6f9e03c459f68a
  Stored in directory: /root/.cache/pip/wheels/98/14/b2/244c2cec93a0c6edb29b488bd6b2710ded7e9d457033b86366
Successfully built mord
Installing collected packages: mord
Successfully installed mord-0.6

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from datetime import datetime
from mord import LogisticAT
from sklearn.model_selection import cross_val_score

In [0]:
train_values = pd.read_csv('/content/train_values.csv')
train_labels = pd.read_csv('/content/train_labels.csv')
test_values = pd.read_csv('/content/test_values.csv')

In [0]:
train = train_values.set_index('building_id').join(train_labels.set_index('building_id'), how='left')

In [11]:
train['damage_grade'].value_counts().sort_index(ascending=True)

1     25124
2    148259
3     87218
Name: damage_grade, dtype: int64

Por tanto, del dataset completo, el **grado 1** significa un **9.64%** del total, el **grado 2** un **56.89%** y el **grado 3** un **33.47%**.

In [13]:
# Now we exclude string categorical variables
#train = train.select_dtypes(exclude=['object'])
#test = test_values.select_dtypes(exclude=['object'])

# Or we can change string categorical to numeric categorical as dummies
train = pd.get_dummies(train)
test = pd.get_dummies(test_values)
train.head()

             geo_level_1_id  ...  legal_ownership_status_w
building_id                  ...
802906                    6  ...                         0
28830                     8  ...                         0
94947                    21  ...                         0
590882                   22  ...                         0
201944                   11  ...                         0

[5 rows x 69 columns]

## Random Forest - sólo variables numéricas

In [0]:
damage_1 = train[train['damage_grade'] == 1].sample(n=25000)
damage_2 = train[train['damage_grade'] == 2].sample(n=25000)
damage_3 = train[train['damage_grade'] == 3].sample(n=25000)

In [0]:
train_sample = pd.concat([damage_1, damage_2, damage_3]).reset_index()
train_sample.head()

   building_id  geo_level_1_id  ...  has_secondary_use_other  damage_grade
0       689827              13  ...                        0             1
1       780104              20  ...                        0             1
2       618103               8  ...                        0             1
3       333694              26  ...                        0             1
4       947549               5  ...                        0             1

[5 rows x 32 columns]

In [14]:
train.iloc[:, :-1] # all rows except target variable

             geo_level_1_id  ...  legal_ownership_status_v
building_id                  ...
802906                    6  ...                         1
28830                     8  ...                         1
94947                    21  ...                         1
590882                   22  ...                         1
201944                   11  ...                         1
...                     ...  ...                       ...
688636                   25  ...                         1
669485                   17  ...                         1
602512                   17  ...                         1
151409                   26  ...                         1
747594                   21  ...                         1

[260601 rows x 68 columns]

In [0]:
test.columns.size

31

In [0]:
train = train_sample

In [0]:
#X = train.iloc[:, 0:38].values
#y = train.iloc[:, 38].values
X = train.iloc[:, 0:30].values
y = train.iloc[:, 30].values

In [0]:
# Partition train-test & scaler
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

#sc = StandardScaler()
#X_train = sc.fit_transform(X_train)
#X_test = sc.transform(X_test)

In [0]:
RF_classifier = RandomForestClassifier(n_estimators=20, random_state=0)
RF_classifier.fit(train.iloc[:, :-1], train['damage_grade'])
RF_pred = RF_classifier.predict(test)

In [0]:
f1_micro_score = f1_score(y_test, RF_pred, average='macro')
print(f1_micro_score)

In [0]:
test.reset_index(level=0, inplace=True)

In [0]:
output = pd.DataFrame({'building_id': test['building_id'], 
                       'damage_grade': RF_pred})

timestamp = str(np.rint(datetime.timestamp(datetime.now())).astype(int))

path = "/content/" + timestamp + "_RF_competition_result.csv"
output.to_csv(path_or_buf=path, index=False)

## Ordinal predictor regressor - all variables + dummies

MORD: http://rikunert.com/ordinal_rating

In [0]:
LAT_classifier = LogisticAT(alpha=0) # alpha parameter set to zero to perform no regularisation

In [23]:
#cross_val_score(LAT_classifier, train.iloc[:, :-1], train['damage_grade'], cv=2, scoring='recall_micro')
#array([0.99998336, 0.99971965])

array([0.99998336, 0.99971965])

In [0]:
test = test.set_index('building_id')

In [0]:
LAT_classifier.fit(train.iloc[:, :-1], train['damage_grade'])

In [0]:
LAT_pred = LAT_classifier.predict(test)

In [0]:
test.reset_index(level=0, inplace=True)

In [0]:
output = pd.DataFrame({'building_id': test['building_id'], 
                       'damage_grade': LAT_pred})

timestamp = str(np.rint(datetime.timestamp(datetime.now())).astype(int))

path = "/content/" + timestamp + "_LAT_competition_result.csv"
output.to_csv(path_or_buf=path, index=False)